<li>
    
    <p>
        <% if (locals.user && (locals.user.id == post.user.id || locals.user.id == comment.user.id)) { %>

            <small>
                <a href="/comment/destroy/<%=comment.id%>">X</a>
            </small>
        <%}%>
       
        <%=comment.content%>
    
    </p>
    
    <small>
        <%=comment.user.name%>
    </small>


</li>