<header>
    header

    <ul>

        <%if(locals.user){%>
            <li>
                <a href="/user/profile/<%=user.id%>"> <%=user.name%></a>
                <br>
                <a href="/user/sign-out">Sign_Out</a>
            </li>

            <%} else {%>
                <li>
                    <a href="/user/sign-in">Sign_in</a>
                </li>

                <li>
                    <a href="/user/sign-up">Sign_up</a>
                </li>
            <%}%>

    </ul>


</header>