<link rel="stylesheet"  href="/css/home.css" type="text/css">

<h1>Welcome!<%=title%></h1>

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post" >
            <textarea name="content" id="" cols="30" rows="3" required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
    </section>
    
    
    <div id="post-container">
        <ul>
            <%for(post of posts){%>
                <%-include('_post')-%>
            <%}%>
        </ul>
    </div>
    
    <section id="user-friends">
        <h4>friends</h4>
        <%for(u of all_user){%>
            <p>
                <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
            </p>
        <%}%>
    </section>



</div>

<script src="/js/home_comment.js"></script>
<script src="/js/home_post.js" ></script>
